
body{
    margin: 20px auto;
    }

[data-depends].has-dependent-data {
    display : none;
    }

[data-depends].has-dependent-data.show {
    display : inherit;
    }

[data-depends].has-dependent-data:not(.show) {
    display : none;
    }

[data-depends].has-dependent-data.hide {
    display : none;
    }
